<form autocomplete="off" onsubmit="event.preventDefault();" id="lame-messenger">

	<div class="players">
		<ul>
			{{#each users}}
				{{#with this}}
					<li {{#unless active}} class="offline" {{/unless}}>
						<input type="checkbox" id="user-{{name}}" class="user-checkmark" {{#unless active}} disabled {{/unless}} />
						<label for="user-{{name}}">
							<img src="{{avatar}}" style="border-color: {{color}}"/><br/>
							{{name}}
						</label>
					</li>
				{{/with}}
			{{/each}}
		</ul>
	</div>

	<div class="chat-elements">
<textarea class="history" placeholder="{{ localize 'LAME.History.Hint' }}" disabled>
{{> "modules/lame-messenger/templates/history.hbs"}}
</textarea>

		<textarea value="" class="message" name="message" placeholder="{{ localize 'LAME.WhisperHint' }}" rows="3"></textarea>
		<input type="submit" value="{{ localize 'LAME.Send' }}">
	</div>

</form>
