:root {
    --lame-purple: #8000FF;
}

#chat-controls .lame-messenger {
    flex: 0 0 28px;
}

/* Shrink fa-comments icon as it's wider than most of the other icons. */
#chat-controls .lame-messenger i.fa-comments {
    font-size: var(--font-size-18);
    line-height: 28px;
    position: relative;
    bottom: 1px;
}

/* v13: When the sidebar is collapsed: */
#chat-notifications #lame-messenger-button {
    position: absolute;
    inset: auto auto 0 calc(100% + 16px); /* core's "Chat Notifications" is set to `pips` */
}
body.vtt:has(#chat-notifications #roll-privacy) #chat-notifications #lame-messenger-button {
    inset: auto auto 144px calc(100% + 16px); /* bottom = 4 * --control-size (=32px) + 16px */
}

/* Counteract parent's `display: flex` which breaks the users section's `float: left`,
   without the need for another div or section. */
#lame-messenger.application .window-content {
    display: block;
}

#lame-messenger i.window-icon {
    color: var(--lame-purple);
}

#lame-messenger .users {
    display: flex; /* helps with keeping the users list at the same x-position when the scrollbar appears */
    position: relative;
    top: -5px;
    float: left;
    width: 93px;
    max-height: 639px; /* 6 players */
    margin-right: 8px; /* same as application window's inner padding */
    overflow-y: auto;
}

#lame-messenger .users ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 3px;
}

#lame-messenger .users li {
    margin-bottom: 10px;
}

#lame-messenger .users li:last-child {
    margin-bottom: 0;
}

#lame-messenger .users input[type="checkbox"][class~="user-checkmark"] {
    display: none;
}

#lame-messenger .users label {
    display: block;
    position: relative;
    text-align: center;
    cursor: pointer;
}

#lame-messenger .users label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    top: -5px;
    right: -2px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transform: scale(0);
    z-index: 1;
}

#lame-messenger .users label img {
    height: 75px;
    width: 75px;
    transform-origin: 50% 50%;
    transform: scale(0.9);
    border-width: 2px;
    border-style: ridge;
}

#lame-messenger .users label p {
    margin: 0;
}

#lame-messenger .users :checked + label {
    border-color: #ddd;
    font-weight: bold;
    text-shadow: 0 0 10px var(--lame-purple);
}

#lame-messenger .users :checked + label:before {
    content: "✓";
    background-color: var(--lame-purple);
    transform: scale(1);
    font-weight: bold;
}

#lame-messenger .users :checked + label img {
    transform: scale(1);
    box-shadow: 0 0 5px #333;
    z-index: -1;
    border-style: inset;
}

#lame-messenger .users .offline label {
    opacity: 0.5;
    cursor: not-allowed;
}

#lame-messenger .users .offline label img {
    border-style: dotted;
}

#lame-messenger .users .no-users-to-show {
    display: block;
}

#lame-messenger .history {
    flex: 1 1 auto;
}
body.theme-light #lame-messenger .history {
    color: var(--color-text-dark-secondary);
}

/* TODO: Rename `message-input` as it's not the input itself but a section also containing the Send button. */
#lame-messenger section.message-input {
    display: grid;
}

/* TODO: Consider renaming to `message-input`. */
#lame-messenger .message {
    flex: 0 1 auto;
    margin: 10px 0;
    font-weight: bold;
}

#lame-messenger .message:focus {
    box-shadow: 0 0 5px var(--lame-purple);
}

#lame-messenger button.send {
    border: 2px groove var(--lame-purple);
}

#lame-messenger button.send:hover {
    background: var(--lame-purple);
    box-shadow: 0 0 5px var(--button-hover-text-color); /* grey-ish white */
}

#lame-messenger .chat-elements {
    display: flex;
    flex-flow: column;
    min-height: 638px; /* Applies to 6 players and more. */
}
body.vtt:has(#lame-messenger .users .no-users-to-show) #lame-messenger .chat-elements,
body.vtt:has(#lame-messenger .users li:first-child:nth-last-child(1)) #lame-messenger .chat-elements,
body.vtt:has(#lame-messenger .users li:first-child:nth-last-child(2)) #lame-messenger .chat-elements,
body.vtt:has(#lame-messenger .users li:first-child:nth-last-child(3)) #lame-messenger .chat-elements {
    min-height: 317px;
}
body.vtt:has(#lame-messenger .users li:first-child:nth-last-child(4)) #lame-messenger .chat-elements {
    min-height: 424px;
}
body.vtt:has(#lame-messenger .users li:first-child:nth-last-child(5)) #lame-messenger .chat-elements {
    min-height: 531px;
}

#lame-messenger textarea {
    resize: none;
}
